body {
    font-family: verdana, arial, sans-serif;
}

#form-login {
    text-align: center;
    margin-top: 5%;
}

input[type="submit"] {
    width: 180px;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}